{% extends "base.html" %} {% block title %}Front Page - Feed{% endblock %}

{% block content %}

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/feed.css') }}">
</head>

<div class="container">
    <div class="search">
        <div class="search_text">
            <p>Busca Amigos<p>
        </div>

        <input type="text" name="search_bar" id="">
        <button type="submit" class="btn btn-primary">Buscar</button>

    </div>

    <div class="create_post">
        <a href="/post" class="btn btn-primary">Nueva Publicacion</a>
    </div>

    {% for post in posts %}

    <div class="post">
        <div class="post_user">
            <img class="post_user_picture" src="{{ url_for('static',filename='images_feed/fotoamigo1.jpeg') }}">
            <p class="post_user_name"> {{ post.3 }} </p>
        </div>
        <div class="post_title">
            <p>{{post.1}}</p>
        </div>
        <div class="post_date">
            <p>{{post.2}}</p>
        </div>
        <div class="post_detail">
            {% if post.0 %}
                <div class="post_image_block">
                    <img class="post_image" src="static/images/{{ post.0 }}" alt="No Image">
                </div>
            {% endif %}
            <div class="post_actions_block">
                <div class="post_actions">
                    <div id="container" class="container">
                        <h2>Comentarios</h2>
                        <form id="container_caja" action="">
                            <textarea class="caja_comentario" placeholder="Deje un comentario..."></textarea>
                            <div class="btn">
                                <input type="submit" value="Comentar">
                                <button>Cancelar</button>
                            </div>
                        </form>
                    </div>
                    <input type="image" id="megusta" name="megusta" alt="Me Gusta" src="{{ url_for('static',filename='images_feed/like.jpeg') }}"/>
                    <input type="image" id="comentario" name="comentario" alt="Comentario" src="{{ url_for('static',filename='images_feed/comentario.jpeg') }}"/>
                </div>
            </div>
        </div>
        <div class="comments">

        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}